<h1 class='header'>
	<center>Athletic Camps</center>
	<center><img src="/images/multi_sports.jpg"></center>
</h1>

<ul>
	<li>
		<strong><a href="/soccer">Soccer</a></strong>
	</li>
	<li>
		<a href="/running">Running</a>

	</li>
</ul>