<!-- <%= %> indicates the msg will appear -->
<!-- on every page.  you dont have to keep inserting it -->

<!DOCTYPE html>
<html>
<head>
	<title>Lindsay's Sports</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<%= yield %>
	<footer>
		<div class="bottomLeft">Bottom Left</div>
		<div class="bottomCenter">Bottom Center</div>
		<div class="bottomRight">Bottom Right</div>
	
	Copyright Lindsay Williams
	</footer>

</body>
</html>